@media screen and ( max-width: 1200px )
  .container
    max-width: 960px
@media screen and ( max-width: 992px )
  .container
    max-width: 720px
  .navbar
    &__search
      margin-left: auto
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &-menu
      font-size: 12px
      line-height: 16px
      padding: 22px 0
  .logo
    width: 132px
  img
    max-width: 100%
  .search
    &__input
      width: 340px
