.hotel
  margin-top: 23px
  margin-bottom: 70px
  &-info
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &-text
    &__offer
      margin-left: 14px
      margin-top: 4px
  &-name
    margin-top: 4px
    margin-bottom: 0
    font-size: 24px
    line-height: 30px

  &-stars
    flex-basis: 100%
  &-facilities
    margin: 0
    font-size: 12px
    line-height: 15px
  &-grid
    display: flex
    justify-content: space-between
  &-rcolumn
    display: flex
    flex-direction: column
    justify-content: space-between
  &-slider
    margin: 0
    width: 728px
    height: 450px
    position: relative
    border-radius: 8px
    &-button
      width: 30px
      height: 30px
      border: none
      background-color: transparent
      position: absolute
      top: 50%
      transform: translateY(-50%)
      z-index: 99
      cursor: pointer
      &--prev
        left: 18px
        background-image: url(../img/arrow-prev.svg)
        background-repeat: no-repeat
        background-position: center
        width: 10px
        height: 18px
        padding: 0
      &--next
        right: 18px
        background-image: url(../img/arrow-next.svg)
        background-repeat: no-repeat
        background-position: center
        width: 10px
        height: 18px
        padding: 0
      &__img
        max-width: 100%
    &__item
      width: 100%
      height: 100%
      position: relative
      &--img
        max-width: 100%
      &:after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        z-index: 22
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: linear-gradient(180deg,rgba(0, 122, 223, 0.6) 0%,rgba(255, 255, 255, 0.16) 100%)
.offer
  padding: 4px 9px
  background-color: $brand-pink-color
  border-radius: 3px
  font-size: 10px
  line-height: 13px
  color: white
.hotel-rating
  max-width: 65px
  min-height: 45px
  background-color: $brand-pink-color
  color: white
  border-radius: 4px
  text-align: center
  &__text
    font-size: 8px
    line-height: 10px
  &__ammount
    font-size: 14px
    line-height: 18px

.slider
  &-button
    width: 30px
    height: 30px
    border: none
    background-color: transparent
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 99
    cursor: pointer
    &--prev
      left: 18px
      background-image: url(../img/arrow-prev.svg)
      background-repeat: no-repeat
      background-position: center
      width: 10px
      height: 18px
      padding: 0
    &--next
      right: 18px
      background-image: url(../img/arrow-next.svg)
      background-repeat: no-repeat
      background-position: center
      width: 10px
      height: 18px
      padding: 0
.booking
  background-color: $brand-blue-color
  padding: 28px
  width: 350px
  height: 210px
  border-radius: 8px
  color: white
  &__text
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 9px
  &__price
    display: flex
    flex-direction: column
  &__price-start
    font-size: 10px
    line-height: 14px
  &__pricetag
    font-size: 24px
    line-height: 33px
  &__per-room
    font-size: 12px
    line-height: 16px
  &__parameters
    font-size: 12px
    line-height: 16px
  &__num-guests
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 8px
  &__guests-text
    margin-left: 9px
  &__num-rooms
    display: flex
    align-items: center
    justify-content: space-between
  &__call-center
    display: flex
    justify-content: space-between
  &__quick
    font-size: 18px
    line-height: 25px
  &__call-number
    display: flex
    align-items: center
    margin-bottom: 17px
  &__tel
    font-size: 18px
    line-height: 25px
    margin-left: 8px
  &-button
    width: 295px
    height: 45px
    border-radius: 4px
    background-color: $brand-pink-color
    font-size: 14px
    line-height: 19px
    border: none
    color: white
    cursor: pointer
.map
  width: 347px
  height: 213px
  border-radius: 4px
